<div class="navbar">
  <h1 id="home"><%= link_to "Wikinimous", articles_path %></h1>
  <h2 id="new-article"><%= link_to "New Article", articles_new_path %></h2>
</div>
<h1>New Article</h1>
<div id="form">
  <%= form_for(@article, class: 'form') do |f| %>
    <div id="form-title">
      <%= f.text_field :title %>
    </div>
    <div id="form-content">
      <%= f.text_area :content, data: { editor: 'markdown' }, rows: 10 %>
    </div>
    <div id="form-btn">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', articles_path %>
