<div class="navbar">
  <h1 id="home"><%= link_to "Wikinimous", articles_path %></h1>
  <h2 id="new-article"><%= link_to "New Article", articles_new_path %></h2>
</div>
<h1><%= @article.title %> <%= link_to "âœï¸", edit_path %><%= link_to "ðŸ—‘", destroy_path(@article.id), method: :delete  %></h1>
<p><%= @article.content %></h2>
